body {
    font-family: "Sarabun", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url(https://tambonsamed.go.th/images/bg_left.jpg);
    background-size: 100%;
}
header {
    background-color: #BF0000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

header .logo img {
    height: 50px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: .5s;
}

nav ul li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: .5s;
}

main {
    margin: 70px 20px 0 20px;
    background: #fff;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #BF0000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
#marquee{
    margin-bottom: 20px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: inherit;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.col-2 {
    flex: 0 0 16.67%;
    width: 16.67%;
}
.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.col-10 {
    flex: 0 0 75%;
    width: 75%;
}
.pt-3 {
    padding-top: 1rem !important;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}
img, svg {
    vertical-align: middle;
}

label {
    display: inline-block;
}
b, strong {
    font-weight: bolder;
}

.flex-container {
    display: flex;
    margin-bottom: 20px;
}

.left {
    flex: 1;
    max-width: 20%;
    background-color: #d00606;
    padding: 10px;
    box-sizing: border-box;
}

.right {
    flex: 4;
    max-width: 80%;
    background-color: #eee;
    padding: 10px;
    box-sizing: border-box;
}
.left-img{
  text-align: center;
  padding: 0;
}

.left-img img{
  border-radius: 5px;
}
.left-img h3{
  margin: 10px;
  font-size: 12px;
}
.left-img p{
  margin: 10px;
  font-size:10px;
}


.style43 {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.mainmenu li {
    font-size: 15px;
    position: relative;
    text-align: left;
}

.mainmenu a, .mainmenu label {
    display: block;
    cursor: pointer;
    padding: 0.5em 0.75em;
    color: #fff;
    text-decoration: #0697d0;
}

@media only screen and (min-width: 1024px) {
  main {
      margin: 70px 80px 0 80px;
      background: #fff;
  }
}
